grisC = #D0C8C3
grisM = #908A8F
grisF = #484A4F
azulC = #3176A6
azulF = #2F3D4F
verdeC = #09b39c
textColor = lighten(grisC, 20)

h1,h2,h3,h4,h5,h6,span,a,p,li
	font-family: 'Ubuntu', sans-serif !important;

.bold
	font-weight 700

.light
	font-weight 300

button,
a.button
	background-color: azulC
	box-shadow: 0px 5px 0 0 darken(azulC, 10);
	
	&:hover,
	&:active
	&:focus
		background-color darken(azulC, 5)

html,
body
	height: 100%;
	background lighten(grisC, 5)

.main
	margin-top 60px

.content
	background lighten(grisC, 20)
	border-color #e9eaed #dfe0e4 #d0d1d5
	margin-top 15px
	border-radius 5px

/***** Cursos *****/
.single-concurso
	border-color #e9eaed #dfe0e4 #d0d1d5
	background lighten(grisC, 20)

	h5.bold
		margin-bottom 0

	.img-concurso
		padding 15px

	.content-concurso
		padding 15px 15px 15px 0

	.fecha
		background verdeC
		border-radius 3px
		padding 2px 5px
		color textColor
		box-shadow: 3px 3px 0 0 darken(verdeC, 10);
		
		&:hover,
		&:active
		&:focus
			background-color darken(verdeC, 5)
.sidebar 
	

	.side-concurso
		margin-bottom 15px
		padding-bottom 15px
		

		.fecha
			width 100px
			background verdeC
			border-radius 3px
			padding 2px 5px
			color textColor
			box-shadow: 3px 3px 0 0 darken(verdeC, 10);
		
			&:hover,
			&:active
			&:focus
				background-color darken(verdeC, 5)

		img
			padding-left 15px


.middle
	background url(../img/bg.jpeg) no-repeat center center fixed
	background-size cover
	display table
	height 100%
	width 100%

	.middle-child
		display table-cell
		vertical-align middle
		
		form
			width 80%
			max-width 960px
			margin 0 auto
			padding 30px
			background grisM
			border-radius 10px

			h2
				color textColor
			
			label
				color textColor

			input[type="text"],
			input[type="password"]
				background azulF
				border-color darken(azulF, 5)
				color textColor